{% extends 'base.html' %}

{% block head %}
<title>Index</title>
{% endblock %}


{% block body %}
<div class="container" style="margin-top: 50px;">
    <h1 class="text-center title" style="margin-top: 50px; margin-bottom: 50px">
        Sally's Gardening Store Database Management
    </h1>
    <p>
        This webpage is designed for employees to manage database entries. For all database
        tables: new entries can be added, and existing entries can be searched, edited, or
        deleted. To view or manage a table, click on the name of the table you wish to view
        on the top banner. 
    </p>
    <p>
        To add an entry to a table, enter the information in the given form, and click the
        'Add' button. 
    </p>
    <p>
        To search for entries in a table, enter the information to be searched in the form 
        and click the 'Search' button. You can search for entries matching any amount of
        columns as desired.
    </p>
    <p>
        To update an entry, navigate to the entry in the table, click 'Update', and change 
        the desired information in the form, and click the 'Submit' button.
    </p>
    <p>
        To delete an entry in a table, navigate to the entry in the table, and click the 
        'Delete' button.
    </p>
    
</div>
{% endblock %}
