{% extends 'base.html' %}

{% block head %}
<title>Manage Orders</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center">Manage Orders</h1>
    {% if order_list|length < 1 %}
    <h4>There are no Orders. Add one below.</h4>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Total Order Price</th>
                <th>Order Date</th>
                <th>Order Comments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td>{{ order.customer_id }}</td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.order_comments }}</td>

                <td>
                    <a href="/updateorder/{{order.order_id}}">Update</a>
                    <br>
                    <a href="/deleteorder/{{order.order_id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <br>
    <h1 style="text-align: center">Add New Order</h1>
    <div class="form">
        <form action="/orders" method="POST">
            <input type="text" name="customer_id" id="customer_id" value="Customer ID">
            <input type="text" name="total_price" id ="total_price" value ="Total Order Price">
            <input type="text" name="order_date" id ="order_date" value ="Order Date">
            <input type="text" name="order_comments" id ="order_comments" value ="Order Comments">
            <input type="submit" value="Submit">
        </form>
    </div>

</div>
{% endblock %}
