{% extends 'base.html' %}

{% block head %}
<title>Manage Order Items</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center">Manage Order Items</h1>
    {% if order_item_list|length < 1 %}
    <h4>There are no Order Items. Add one below.</h4>
    {% else %}
    <table>
        <thead>
            <tr class>
                <th>Order ID</th>
                <th>Product ID</th>
                <th>Order Item Quantity</th>
                <th>Order Item Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order_item in order_item_list %}
            <tr>
                <td>{{ order_item.order_id }}</td>
                <td>{{ order_item.product_id }}</td>
                <td>{{ order_item.item_quantity }}</td>
                <td>{{ order_item.item_price }}</td>

                <td>
                    <a href="/updateorderitem/{{order_item.item_id}}">Update</a>
                    <br>
                    <a href="/deleteorderitem/{{order_item.item_id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <br>
    <h1 style="text-align: center">Add New Order Item</h1>
    <div class="form">
        <form action="/orderitems" method="POST">
            <input type="text" name="order_id" id="order_id" placeholder="Order ID">
            <input type="text" name="product_id" id ="product_id" placeholder="Product ID">
            <input type="text" name="item_quantity" id ="item_quantity" placeholder="Item Quantity">
            <input type="text" name="item_price" id ="item_price" placeholder="Item Price">
            <input type="submit" value="Submit">
        </form>
    </div>

</div>
{% endblock %}
