{% extends 'base.html' %}

{% block head %}
<title>Manage Products</title>
{% endblock %}


{% block body %}
<div class="container" style="padding: 10px;">
    <h1 class="text-center">Add New Product</h1>
    <div class="form">
        <form action="/products" method="POST" class="text-center">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="product_name" id="product_name" placeholder="Product Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="product_inventory" id ="product_inventory" placeholder="Product Inventory">                    
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="product_price" id ="product_price" placeholder="Product Price">                    
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="product_description" id ="product_description" placeholder="Product Description">                    
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="category_id" id ="category_id" placeholder="Product Category">                    
                </div>
            </div>
            <br>
            <div class="text-center">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<br>
<div class="container">
    <h1 class="text-center">Manage Products</h1>
    {% if products|length < 1 %}
    <h4 class="text-center">There are no Products. Add one above.</h4>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Inventory</th>
                <th scope="col">Product Price</th>
                <th scope="col">Product Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td scope="row">{{ product[1] }}</td>
                <td scope="row">{{ product[2] }}</td>
                <td scope="row">{{ product[3] }}</td>
                <td scope="row">{{ product[4] }}</td>
                <td scope="row">
                    <a href="/updateproduct/{{product[0]}}"><button type="button" class="btn btn-primary">Update</button></a>
                    <a href="/deleteproduct/{{product[0]}}"><button type="button" class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}