{% extends 'base.html' %}

{% block head %}
<title>Manage ProductsCategories</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center" style="padding: 10px;">Add New ProductCategory</h1>
    <form action="/productscategories" method="POST" class="text-center">
        <!--
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="product_id" id="product_id" placeholder="Product ID">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="category_id" id ="category_id" placeholder="Category ID">
            </div>
        </div>
        -->
        <div class="row">
            <div class="col">
                <label for="product">Product</label>
                <select name="product" id ="product">
                    {% for product in products %}
                    <option value="{{product[0]}}">{{product[1]}}</option>
                </select>
            </div>
            <div class="col">
                <label for="category">Category</label>
                <select name="category" id ="category">
                    {% for category in categories %}
                    <option value="{{category[0]}}">{{category[1]}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group text-center">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
<br>
<div class="container">
    <h1 class="text-center">Manage ProductsCategories</h1>
    {% if products_categories|length < 1 %}
    <h4 class="text-center">There are no ProductsCategories. Add one above.</h4>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Category ID</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product_category in products_categories %}
            <tr>
                <td scope="row">{{ product_category[0] }}</td>
                <td scope="row">{{ product_category[1] }}</td>
                <td scope="row">
                    <a href="/updateproductcategory/{{product_category[0]}}"><button type="button" class="btn btn-primary">Update</button></a>
                    <a href="/deleteproductcategory/{{product_category[0]}}"><button type="button" class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}