{% extends 'base.html' %}

{% block head %}
<title>Update Shipment</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center">Update Shipment</h1>
    <form action="/updateshipment/{{shipment.shipment_id}}" method="POST" class="text-center">
        <div class="form-group">
            <input type="text" name="order_id" id="order_id" {% if shipment.order_id %} value="{{shipment.order_id}}" {% else %} placeholder="Order ID" {% endif %}>
            <input type="text" name="tracking_number" id ="tracking_number" {% if shipment.tracking_number %} value="{{shipment.tracking_number}}" {% else %} placeholder="Tracking Number" {% endif %}>
            <input type="text" name="date_shipped" id ="date_shipped" value ="{{shipment.date_shipped}}">
        </div>
        <br>
        <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}