{% extends 'base.html' %}

{% block head %}
<title>Update Customer</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center">Update Customer</h1>
        <form action="/updatedcustomer/{{customer[0][0]}}" method="POST" class="text-center">
            <div class="row">
                <div class="col">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" value="{{customer[0][1]}}">
                </div>
                <div class="col">
                    <label for="Last Name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id ="last_name" value="{{customer[0][2]}}">
                </div>
                <div class="col">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id ="email" value="{{customer[0][3]}}">
                </div>
                <div class="col">
                    <label for="phone_number">Phone Number</label>
                    <input type="text" class="form-control" name="phone_number" id ="phone_number" value="{{customer[0][4]}}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="street_address">Street Adress</label>
                    <input type="text" class="form-control" name="street_address" id ="street_address" value="{{customer[0][5]}}">
                </div>
                <div class="col">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" id ="city" value="{{customer[0][6]}}">
                </div>
                <div class="col">
                    <label for="state">State</label>
                    <input type="text" class="form-control" name="state" id ="state" value ="{{customer[0][7]}}">
                </div>
                <div class="col">
                    <label for="zip_code">Zip Code</label>
                    <input type="text" class="form-control" name="zip_code" id ="zip_code" value ="{{customer[0][8]}}">
                </div>
            </div>
            <br>
            <div class="text-center">
                <label for=""></label>
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
</div>
{% endblock %}