{% extends 'base.html' %}

{% block head %}
<title>Update Customer</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center">Update Customer</h1>
        <form action="/updatecustomer/{{customer.customer_id}}" method="POST" class="text-center">
            <div class="row">
                <div class="col">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" value="{{customer.first_name}}">
                </div>
                <div class="col">
                    <label for="Last Name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id ="last_name" value="{{customer.last_name}}">
                </div>
                <div class="col">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id ="email" value="{{customer.email}}">
                </div>
                <div class="col">
                    <label for="phone_number">Phone Number</label>
                    <input type="text" class="form-control" name="phone_number" id ="phone_number" value="{{customer.phone_number}}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="street_address">Street Adress</label>
                    <input type="text" class="form-control" name="street_address" id ="street_address" value="{{customer.street_address}}">
                </div>
                <div class="col">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" id ="city" value="{{customer.city}}">
                </div>
                <div class="col">
                    <label for="state">State</label>
                    <input type="text" class="form-control" name="state" id ="state" value ="{{customer.state}}">
                </div>
                <div class="col">
                    <label for="zip_code">Zip Code</label>
                    <input type="text" class="form-control" name="zip_code" id ="zip_code" value ="{{customer.zip_code}}">
                </div>
            </div>
            <br>
            <div class="text-center">
                <label for=""></label>
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
</div>
{% endblock %}