{% extends 'base.html' %}

{% block head %}
<title>Update Order</title>
{% endblock %}


{% block body %}
<div class="container">

    <h1 class="text-center">Update Order</h1>
    <form action="/updateorder/{{order.order_id}}" method="POST" class="text-center">
        <div class="form-group">
            <input type="text" name="customer_id" id="customer_id" {% if order.customer_id %} value="{{order.customer_id}}" {% else %} placeholder="Customer ID" {% endif %}>
            <input type="text" name="total_price" id ="total_price" {% if order.total_price %} value="{{order.total_price}}" {% else %} placeholder="Total Price" {% endif %}>
            <input type="text" name="order_date" id ="order_date" {% if order.order_date %} value="{{order.order_date}}" {% else %} placeholder="Order Date" {% endif %}>
            <input type="text" name="order_comments" id ="order_comments" {% if order.order_comments %} value="{{order.order_comments}}" {% else %} placeholder="Order Comments" {% endif %}>
        </div>
        <br>
        <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}