{% extends 'base.html' %}

{% block head %}
<title>Update Shipment</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center">Update Shipment</h1>
    <form action="/updatedshipment/{{shipment[0]}}" method="POST" class="text-center">
        <div class="row">
            <div class="col">
                <label for="order">Order</label>
                <select class="form-select" name="order" id ="order">
                    <option selected value="{{shipment[0]}}">{{shipment[1]}}</option>
                    {% for order in orders %}
                    {% if order[0] != shipment[0] %}
                        <option value="{{order[0]}}">{{order[1]}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="tracking_number">Tracking Number</label>
                <input type="text" class="form-control" name="tracking_number" id ="tracking_number" value="{{shipment[2]}}">
            </div>
            <div class="col">
                <label for="date_shipped">Date Shipped</label>
                <input type="date" class="form-control" name="date_shipped" id ="date_shipped" value ="{{shipment[3]}}">
            </div>
            <div class="col">
                <label for="date_delivered">Date Delivered</label>
                <input type="date" class="form-control" name="date_delivered" id ="date_delivered" value ="{{shipment[4]}}">
            </div>
        </div>
        <br>
        <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}